<h3><span class="preset-header">Preset Packages</span></h3>
<div class="ui fluid container">
  <div class="preset_list">
    <div class="preset_list__segment">
      <div class="ui form">
        <div class="fields">
          <div class="three wide field">
            <div class="ui selection dropdown fluid">
              <input type="hidden" name="languages">
              <i class="dropdown icon"></i>
              <div class="default text">Languages</div>
              <div class="menu">
                <div class="item" data-value="1">-------</div>
                <div class="item" data-value="0">-----</div>
              </div>
            </div>
          </div>
          <div class="three wide field">
            <div class="ui selection dropdown fluid">
              <input type="hidden" name="category">
              <i class="dropdown icon"></i>
              <div class="default text">Category</div>
              <div class="menu">
                <div class="item" data-value="1">-------</div>
                <div class="item" data-value="0">-----</div>
              </div>
            </div>
          </div>
          <div class="three wide field">
            <button class="ui button go_btn">
              <span class="go_text">Go</span>
            </button>
          </div>
        </div>
      </div>
      <div class="ui four cards">
        <div class="card promotion_content__card">
          <div class="image ">
            <img class="promotion_content__image" src="./../../../../assets/img/dubai_lester.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/children-beach.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/beach-blur.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/adrenaline.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/ancient-sunset.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="image promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/ladyCard.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="image promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/children-beach.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="image promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/dubai_lester.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>