.outer {
    margin: 0px 20px 0px 15px;
}

.airline_title {
    margin: 0;
    color: #4F4F4F;
    font-size: 20px;
    font-weight: 200;
    line-height: 22px;
}

.ui.top.attached.tabular.menu {
    margin-top: 25px;
}

.ui.top.attached.menu>.item {
    border-radius: .28571429rem 0 0 0;
    border-top-right-radius: 15px !important;
}

.ui.bottom.attached.active.tab.segment {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}

.tab.segment {
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.4);
}

hr {
    box-sizing: border-box;
    overflow: visible;
    border: 0.5px solid #E0E0E0;
}

.tourCode_text,
.addTogg_text {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}

.goto_list {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #181B20;
    font-size: 14px;
    span {
        color: #181B20;
    }
}

.goto-link {
    position: relative;
    top: 8px;
}

.corporate_input__placeholder-icon {
    position: relative;
    width: 18px;
    bottom: 28px;
    left: 9px;
}

.b2c-list-user-table {
    overflow-x: auto;
    .ui.table {
        width: calc(100% + 540px);
    }
}

.date-field {
    text-indent: 17px;
}

// .ui.form {
//     padding: 24px 0px;
// }

.ui.icon.input>i.icon {
    opacity: 1;
    z-index: 1;
    top: 10px;
    .bookings_input__placeholder-icon {
        width: 24px;
        margin-top: 6px;
        &.cal {
            width: 16px;
            margin-top: 0px;
        }
        &.call {
            width: 10px;
            margin-top: 0px;
        }
        &.calender {
            width: 18px;
            margin-top: 10px;
        }
    }
}

.bookings_pickers .input {
    z-index: 0;
    &.bookings_datepicker {
        min-width: 120px;
        max-width: 138px
    }
    .ui.basic.floating.button {
        padding: 10px !important;
        color: rgba(152, 152, 152, 0.6) !important;
        font-weight: 300 !important;
        line-height: 11px;
    }
    // .icon {
    //   opacity: 1;
    //   z-index:0;
    //   .bookings_input__placeholder-icon {
    //     width: 24px;
    //     margin-top: 6px;
    //     &.cal {
    //       width: 18px;
    //       margin-top: 10px;
    //     }
    //   }
    // }
    .search.dropdown {
        width: 218px;
        border-right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        .search {
            margin-left: 42px !important;
        }
        .default.text {
            font-size: 12px;
            margin-right: 0 !important;
            padding: 8px 0 0 38px !important;
        }
    }
}

.detail-segment {
    margin-bottom: 0px;
}

.search-section {
    padding: 0px 30px;
    text-align: right;
    .eight.wide.field .main_head {
        text-align: left;
        font-weight: 500 !important;
        font-size: 13px;
        line-height: 15px;
        color: #1B1F26;
    }
    .list-code {
        text-align: left;
        margin: 0 auto 20px;
        padding-left: 0px;
    }
}

.listCodeWrapper {
    padding: 0px;
    >.ui.form {
        padding: 20px 8px;
    }
}

.ui.form .field>label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #181B20;
    margin: 0px 0px 8px;
}

.ui.form .three.wide.field,
.ui.form .field>.checkbox-field,
.ui.form .five.wide.field,
.ui.form .six.wide.field,
.ui.form .eight.wide.field,
.four.wide.field {
    margin-bottom: 12px;
}

.ui.form .search-section .eight.wide.field {
    margin-bottom: 0px;
    padding: 0px;
}

.ui.form.list-code-ui {
    .search-section {
        margin-bottom: 24px;
    }
}

.detail-segment {
    padding: 0;
    margin-top: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    // float: right;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: 0px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.list-code-block {
    // width: 1100px;
    margin: 24px;
    padding-bottom: 48px;
}

.ui.form .eight.wide.field.list-code {
    // width: 1100px !important;
    margin-left: 0px;
}

.listCodeWrapper .ui.form {
    padding: 12px 0px 0px !important;
}

.result-block {
//     padding-bottom: 72px !important;
 }

.save-btn-block {
    button {
        float: right;
    }
}

@media (max-width: 1440px) {
    .outer .air-title {
        margin-left: 24px;
    }
    .ui.form {
        .tourCode_btn {
            margin-right: 0px;  
        }
        .bookings_btn-panel.list-code {
            padding-left: 0px;
        }
        .eight.wide.field.list-code {
            width: auto;
            margin: 0px;
        }
    }
    .list-code-block {
        width: auto;
        margin: 24px;
    }
}

@media (max-width: 1280px) {
    .outer .air-title {
        margin-left: 20px;
    }
    .result-block {
        width: auto;
        margin: 20px;
    }
    .listCodeWrapper {
        padding:0px 10px;
    }
} 

@media (max-width: 767px) {
    .ui.container {
        margin: 0px !important;
    }
    .search-section {
        .eight.wide.field .main_head {
            margin-bottom: 16px;
        }
    }
}