.ui.styled.accordion {
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    .title {
        border-top: none;
        i.dropdown.icon {
            float: right;
            margin-top: 10px;
            &:before {
                background-image: url('../../../assets/icons/downArrow-black.svg') !important;
                background-repeat: no-repeat !important;
                content: "";
                height: 20px;
                width: 20px;
                position: absolute;
            }
        }
    }
    .title, .content {
        padding: 12px 24px;
    }
    .content {
        &.active {
            padding-bottom: 24px;
        }
    }
}

.ui.grid {
    margin: 0px;
}

.anc_modal {
    .ui {
        position: relative;
        .close.icon {
            position: absolute;
            right: 4px;
            top: 8px;
            cursor: pointer;
        }
    }
    h2 {
        font-style: normal;
        font-weight: 700 !important;
        font-size: 18px;
        line-height: 21px;
        color: #314B77;
        text-align: center;
        padding: 24px 0px;
        border-bottom: 1px solid rgba(69, 103, 172, 0.1);
    }
    .traveller-wrapper {
        padding: 0px;
        border-bottom: 1px solid rgba(69, 103, 172, 0.1);
        .traveller-list-block {
            padding: 0px;
            border-right: 1px solid rgba(69, 103, 172, 0.1);
            .ui.tabular.menu {
                display: block;
                padding: 0px;
                .item {
                    padding: 16px 24px 14px;
                    border-bottom: none;
                    .name {
                        color: #333D4E;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 14px;
                        margin-right: 50px;
                    }
                    .type {
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: rgba(51, 61, 78, 0.6);
                    }
                    &.active {
                        background: rgba(67, 122, 218, 0.06);
                        border-bottom: none;
                        border-left: 3px solid #437ADA;
                        border-radius: 0px !important;
                        .name {
                            font-weight: 700 !important;
                        }
                    }
                }
            }
        }
        .travller-detail-block {
            padding: 22px 25px;
            .route-block {
                .ui.styled.accordion {
                    padding: 0px;
                    .p-0 {
                        padding: 0px;
                    }
                    .title {
                        padding: 24px 0px;
                        .route {
                            text-align: center;
                            span {
                                background: rgba(49, 75, 119, 0.1);
                                border-radius: 40px;
                                text-transform: uppercase;
                                color: #333D4E;
                                padding: 6px 22px;
                                font-weight: 700 !important;
                            }
                        }
                        .line {
                            border: 1px solid rgba(69, 103, 172, 0.1);
                            height: 1px;
                            position: relative;
                            top: 8px;
                            border-radius: 10px;
                        }
                        &.active {
                            padding: 24px 0px 12px;
                        }
                    }
                    .content {
                        padding: 12px 0px;
                        .content-block {
                            border: 2px solid rgba(6, 40, 98, 0.2);
                            box-sizing: border-box;
                            border-radius: 8px;
                            display: inline-block !important;
                            margin-right: 8px;
                            padding: 0px;
                            .info {
                                padding: 12px 8px;
                            }
                            h3, p {
                                font-size: 12px;
                                line-height: 14px;
                                color: #062862;
                                padding-bottom: 10px;
                            }
                            p span {
                                font-weight: 700 !important;
                            }
                            button {
                                border: 1px solid rgba(6, 40, 98, 0.1);
                                box-sizing: border-box;
                                border-radius: 3px;
                                padding: 8px 20px;
                                color: #437ADA;
                                font-size: 10px;
                                font-weight: 700;
                                margin-right: 8px;
                                background: #fff;
                                cursor: pointer;
                                &.add {
                                    background: #437ADA;
                                    color: #fff;
                                    margin-right: 0px;
                                }
                            }
                            &.active, &:hover {
                                // background: rgba(67, 122, 218, 0.2);
                                border: 2px solid #437ADA;
                                h3, p {
                                    color: #437ADA;
                                    font-weight: 600 !important;
                                }
                            }
                            &.active {
                                button {
                                    padding: 8px 14px;
                                }
                            }
                            &.disabled {
                                opacity: 0.3;
                            }
                            .desc {
                                padding: 12px 8px;
                                font-weight: 500;
                                font-size: 10px;
                                line-height: 12px;
                                color: rgba(6, 40, 98, 0.8);
                                background: rgba(67, 122, 218, 0.03);
                                border-top: 1px solid rgba(67, 122, 218, 0.03);
                                min-height: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
    .action-block {
        padding: 26px 16px 50px;
        h5 {
            font-size: 11px;
            line-height: 12px;
            color: rgba(6, 40, 98, 0.8);
            padding-bottom: 12px;
        }
        p {
            font-size: 10px;
            line-height: 12px;
            color: rgba(6, 40, 98, 0.8);
        }
        .sel_item {
            color: rgba(51, 61, 78, 0.9);
            background: #fff;
            box-shadow: none;
            border: 1px solid rgba(6, 40, 98, 0.1);
            border-radius: 8px;
            padding: 8px 16px;
            position: relative;
            font-size: 11px;
            .close {
                background: #A6B1C3;
                position: absolute;
                top: -12px;
                color: #fff;
                padding: 2px 5px;
                border-radius: 50%;
                right: -6px;
            }
        }
        .bookings_btn-panel {
            padding-top: 12px;
            text-align: center;
            border-left: 1px solid rgba(69, 103, 172, 0.1);
        }
    }
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
  
  
@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}