<h3><span class="booking-header">New Agency Profile</span></h3>
<div class="ui fluid container">
  <div class="ui grid container stepper-grid" #tab>
    <div class="five wide column stepper-grid_step _active" id="member" (click)="setActiveTab('member')">
      <div class="stepper-grid_step__step-icon">
        <div>
          <div class="image _member"></div>
        </div>
        <label>Personal Info</label>
      </div>
      <div class="stepper-grid_step__step-border">
        <hr />
      </div>
    </div>
    <div class="five wide column stepper-grid_step" id="payment" (click)="setActiveTab('payment')">
      <div class="stepper-grid_step__step-icon">
        <div>
          <div class="image _payment"></div>
        </div>
        <label>Payment</label>
      </div>
      <div class="stepper-grid_step__step-border">
        <hr />
      </div>
    </div>
    <div class="three wide column stepper-grid_step" id="remarks" (click)="setActiveTab('remarks')">
      <div class="stepper-grid_step__step-icon">
        <div>
          <div class="image _remarks"></div>
        </div>
        <label>Remarks</label>
      </div>
    </div>
  </div>
  <form class="ui form" autocomplete="off" [formGroup]="newAgencyProfileForm" #tabContent>
    <div id="member-content" class="stepper-grid-content animated fadeIn _active">
      <div class="outer-basic">
        <div class="outer-basicForm">
          <div class="ui grid form-inner">
            <div class="sixteen wide column">
              <h4>Personal</h4>
            </div>
            <div class="sixteen wide column">
              <label>Agency Info</label>
            </div>
            <div class="ui sixteen wide column grid">
              <div class="two wide column">
                <input type="text" name="reponsibleOffice" formControlName="responsible_office" value=""
                  placeholder="Responsible Office">
              </div>
              <div class="four wide column">
                <input type="text" name="deptContactName" formControlName="department_contact_name" value=""
                  placeholder="Department Contact Name">
              </div>
              <div class="four wide column">
                <input type="text" name="agentContactName" formControlName="agent_contact_name" value=""
                  placeholder="Agent Contact Name">
              </div>
            </div>
          </div>
          <div formArrayName="number">
            <div *ngFor="let numberD of newAgencyProfileForm.get('number')['controls'];let nIndex = index">
              <div [formGroupName]="nIndex" class="ui sixteen wide column grid">
                <div class="three wide column newAgency_topAlign">
                  <div class="ui checkbox">
                    <input type="checkbox" name="prefered" formControlName="preferedHome" value="">
                    <label>Prefered</label>
                  </div>
                </div>
                <div class="two wide column">
                  <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="home" formControlName="home" value="">
                    <i class="dropdown icon"></i>
                    <div class="default text">Home</div>
                    <div class="menu">
                      <div class="item" (click)="setDropDownType('Home 1', 'home')">Home 1</div>
                      <div class="item" (click)="setDropDownType('Home 2', 'home')">Home 2</div>
                    </div>
                  </div>
                </div>
                <div class="four wide column">
                  <input type="text" name="number" formControlName="number" value="" placeholder="Number">
                </div>
                <div class="five wide column">
                  <input type="text" name="number_comment" formControlName="number_comment" value=""
                    placeholder="Comment">
                </div>
              </div>
            </div>
          </div>
          <div class="sixteen wide column">
            <button class="ui primary  button btn-sticky" (click)="addMoreNumbers()">
              Add Number +
            </button>
          </div>
        </div>
      </div>
      <div class="outer-basic mtb">
        <div class="outer-basicForm">
          <div class="sixteen wide column">
            <label>Email Info</label>
          </div>
          <div formArrayName="email">
            <div *ngFor="let emailD of newAgencyProfileForm.get('email')['controls']; let eIndex = index">
              <div [formGroupName]="eIndex" class="ui sixteen wide column grid">
                <div class="three wide column newAgency_topAlign">
                  <div class="ui checkbox ">
                    <input type="checkbox" name="prefered" formControlName="preferedOfficial">
                    <label>Prefered</label>
                  </div>
                </div>
                <div class="two wide column">
                  <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="office" formControlName="Official" value="">
                    <i class="dropdown icon"></i>
                    <div class="default text">Official</div>
                    <div class="menu">
                      <div class="item" (click)="setDropDownType('Official 1', 'Official')">Official 1</div>
                      <div class="item" (click)="setDropDownType('Official 1', 'Official')">Official 2</div>
                    </div>
                  </div>
                </div>
                <div class="four wide column">
                  <input type="text" name="emailAddress" formControlName="emailAddress" value=""
                    placeholder="Email Address">
                </div>
                <div class="five wide column">
                  <input type="text" name="comment" formControlName="emailAddress_comment" value=""
                    placeholder="Comment">
                </div>
              </div>
            </div>
            <div class="ui primary button btn-sticky" (click)="addMoreEmail()">
              Add Email +
            </div>
          </div>
        </div>
      </div>
      <div class="outer-basic mtb">
        <div class="outer-basicForm">
          <div class="sixteen wide column">
            <label>Address Info</label>
          </div>
          <div formArrayName="address">
            <div *ngFor="let addressD of newAgencyProfileForm.get('address')['controls']; let aIndex = index">
              <div [formGroupName]="aIndex">
                <div class="fields">
                  <div class="field">
                    <div class="three wide field newAgency_topAlign">
                      <div class="ui checkbox ">
                        <input type="checkbox" name="prefered" formControlName="preferedAddress" value="">
                        <label>Prefered</label>
                      </div>
                    </div>
                  </div>
                  <div class="two wide field">
                    <div class="ui fluid search selection dropdown">
                      <input type="hidden" name="office" formControlName="addressList" value="">
                      <i class="dropdown icon"></i>
                      <div class="default text">Office</div>
                      <div class="menu">
                        <div class="item" (click)="setDropDownType('Office 1', 'addressList')">
                          Office 1</div>
                        <div class="item" (click)="setDropDownType('Office 2', 'addressList')">
                          Office 2</div>
                      </div>
                    </div>
                  </div>
                  <div class="five wide field">
                    <input type="text" name="address" formControlName="address" value="" placeholder="Address">
                  </div>
                  <div class="three wide field">
                    <input type="text" name="street" formControlName="street" value="" placeholder="Street">
                  </div>
                  <div class="three wide field">
                    <input type="text" name="city" formControlName="city" value="" placeholder="City">
                  </div>
                </div>
                <div class="fields">
                  <div class="field">
                    <div class="three wide field">
                      <div class="ui checkbox ">
                      </div>
                    </div>
                  </div>
                  <div class="three wide field">
                  </div>
                  <div class="two wide field">
                    <input type="text" name="state" formControlName="state" value="" placeholder="Region/State">
                  </div>
                  <div class="three wide field">
                    <input type="text" name="postalCode" formControlName="postalCode" value=""
                      placeholder="Postal Code">
                  </div>
                  <div class="three wide field">
                    <div class="ui fluid search selection dropdown">
                      <input type="hidden" name="country" formControlName="countryList" value="">
                      <i class="dropdown icon"></i>
                      <div class="default text">Country</div>
                      <div class="menu">
                        <div class="item" (click)="setDropDownType('USA', 'countryList')">
                          USA</div>
                        <div class="item" (click)="setDropDownType('UAE', 'countryList')">
                          UAE</div>
                        <div class="item" (click)="setDropDownType('Australia', 'countryList')">
                          Australia</div>
                      </div>
                    </div>
                  </div>
                  <div class="three wide field">
                    <input type="text" name="company" formControlName="company" value="" placeholder="Company">
                  </div>
                </div>
                <div class="fields">
                  <div class="field">
                    <div class="three wide field">
                      <div class="ui checkbox ">
                      </div>
                    </div>
                  </div>
                  <div class="three wide field">
                  </div>
                  <div class="five wide field">
                    <input type="text" name="comment" formControlName="address_comment" value="" placeholder="Comment">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui primary button btn-sticky" (click)="addMoreAddress()">
              Add Address +
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="payment-content" class="stepper-grid-content animated fadeIn">
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Payment Data</h4>
            </div>
            <div class="fields">
              <label>Bank Accounts</label>
            </div>
            <div formArrayName="bank_accounts">
              <div
                *ngFor="let bank_accountsD of newAgencyProfileForm.get('bank_accounts')['controls']; let bank_accountsIndex = index">
                <div [formGroupName]="bank_accountsIndex">
                  <div class="fields">
                    <div class="two wide field">
                      <input type="text" name="code" formControlName="bank_code" value="" placeholder="Code">
                    </div>
                    <div class="five wide field">
                      <input type="text" name="name" formControlName="bank_name" value="" placeholder="Name">
                    </div>
                    <div class="three wide field">
                      <input type="text" name="bankAccountNumber" formControlName="bank_number" value=""
                        placeholder="Number">
                    </div>
                    <div class="three wide field">
                      <input type="text" name="city" value="" formControlName="bank_city" value="" placeholder="City">
                    </div>
                  </div>
                  <div class="fields">
                    <div class="two wide field">
                    </div>
                    <div class="five wide field">
                    </div>
                    <div class="three wide field">
                      <input type="text" name="validFrom" formControlName="bank_valid_from" value=""
                        placeholder="Valid From(DD MM YYYY)">
                    </div>
                    <div class="three wide field">
                      <input type="text" name="validUntil" formControlName="bank_valid_to" value=""
                        placeholder="Valid Until(DD MM YYYY)">
                    </div>
                  </div>
                  <div class="fields">
                    <div class="two wide field">
                    </div>
                    <div class="five wide field">
                    </div>
                    <div class="three wide field">
                      <div class="ui checkbox ">
                        <input type="checkbox" name="directDebitAuthorized">
                        <label class="checkbox_label">Direct Debit Authorized</label>
                      </div>
                    </div>
                    <div class="three wide field">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="five wide field">
                <div class="ui primary button" (click)="addBankAccount()">
                  Add Bank Account +
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="five wide field">
                <div formArrayName="forms_of_payment">
                  <div
                    *ngFor="let forms_of_paymentD of newAgencyProfileForm.get('forms_of_payment')['controls']; let payIndex = index">
                    <div [formGroupName]="payIndex" class="fields">
                      <input type="text" name="formOfPayment" formControlName="forms_of_payment" value=""
                        placeholder="Form Of Payment">
                      <div class="newAgency_topAlign" *ngIf="payIndex > 0" (click)="removeForms_of_payment(payIndex)">
                        <i class="icon">
                          <img src="./../../../../../assets/icons/remove-button.svg" />
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui primary button" (click)="addMoreForms_of_payment()">
                  Add More +
                </div>
              </div>
              <div class="four wide field"></div>
              <div class="five wide field ">
                <div formArrayName="endorsements">
                  <div
                    *ngFor="let endorsementsD of newAgencyProfileForm.get('endorsements')['controls']; let eIndex = index">
                    <div [formGroupName]="eIndex" class="fields">
                      <input type="text" name="endorsement" formControlName="endorsements" value=""
                        placeholder="Endorsement">
                      <div class="newAgency_topAlign" *ngIf="eIndex > 0" (click)="removeEndorsements(eIndex)">
                        <i class="icon">
                          <img src="./../../../../../assets/icons/remove-button.svg" />
                        </i>
                      </div>
                    </div>
                  </div>
                  <div class="ui primary button" (click)="addMoreEndorsements()">
                    Add More +
                  </div>
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="five wide field">
                <div formArrayName="fare_price_override">
                  <div
                    *ngFor="let fare_price_overrideD of newAgencyProfileForm.get('fare_price_override')['controls']; let overrideIndex = index">
                    <div [formGroupName]="overrideIndex" class="fields">
                      <input type="text" name="fairPriceOverride" formControlName="fare_price_override" value=""
                        placeholder="Fair Price Override">
                      <div class="newAgency_topAlign" *ngIf="overrideIndex > 0"
                        (click)="removeFair_price_override(overrideIndex)">
                        <i class="icon">
                          <img src="./../../../../../assets/icons/remove-button.svg" />
                        </i>
                      </div>
                    </div>
                  </div>
                  <div class="ui primary button" (click)="addMoreFair_price_override()">
                    Add More +
                  </div>
                </div>
              </div>
              <div class="four wide field"></div>
              <div class="five wide field ">
                <input type="text" name="discount" formControlName="discounts" value="" placeholder="Discount">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Commission</h4>
            </div>
            <div class="ui sixteen wide column grid">
              <div formArrayName="commissions" class="sixteen wide column">
                <div
                  *ngFor="let commissionD of newAgencyProfileForm.get('commissions')['controls']; let comIndex = index">
                  <div [formGroupName]="comIndex" class="ui sixteen wide column grid">
                    <div class="five wide column">
                      <input type="text" name="text" formControlName="commisionText" value="" placeholder="Text">
                    </div>
                    <div class="five wide column ">
                      <input type="text" name="providerCode" formControlName="commisionProvideCode" value=""
                        placeholder="Provider Code">
                    </div>
                    <div class="newAgency_topAlign" *ngIf="comIndex > 0" (click)="removeComission(comIndex)">
                      <i class="icon">
                        <img src="./../../../../../assets/icons/remove-button.svg" />
                      </i>
                    </div>
                  </div>
                </div>
                <div class="ui primary button btn-sticky" (click)="addMoreComission()">
                  Add More +
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Accounting</h4>
            </div>
            <div formArrayName="accounting">
              <div *ngFor="let accountingD of newAgencyProfileForm.get('accounting')['controls']; let accIndex = index">
                <div [formGroupName]="accIndex">
                  <div class="fields">
                    <div class="four wide field">
                      <input type="text" name="accountNumber" formControlName="accountNumber" value=""
                        placeholder="Account Number">
                    </div>
                    <div class="four wide field ">
                      <input type="text" name="costCentre" formControlName="accountCostCentre" value=""
                        placeholder="Cost Centre">
                    </div>
                    <div class="four wide field ">
                      <input type="text" name="iataNumber" formControlName="accountIataNumber" value=""
                        placeholder="IATA Number">
                    </div>
                    <div class="four wide field ">
                      <input type="text" name="clientReference" formControlName="accountClientReference" value=""
                        placeholder="Client Reference">
                    </div>
                  </div>
                  <div class="fields">
                    <div class="four wide field">
                      <input type="text" name="gstTaxName" formControlName="accountGstTaxName" value=""
                        placeholder="GST Tax Name">
                    </div>
                    <div class="four wide field ">
                      <input type="text" name="gstTaxNumber" formControlName="accountGetTaxNumber" value=""
                        placeholder="GST Tax Number">
                    </div>
                    <div class="four wide field ">
                      <input type="text" name="gstTaxAddress" formControlName="accountGstTaxAddress" value=""
                        placeholder="GST Tax Address">
                    </div>
                    <div class="ui primary button btn-sticky" (click)="addMoreAccounting()">
                      Add Accounting +
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="remarks-content" class="stepper-grid-content animated fadeIn">
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Remarks</h4>
            </div>
            <div class="fields">
              <label>Remarks</label>
            </div>
            <div formArrayName="remarks">
              <div *ngFor="let remarksD of newAgencyProfileForm.get('remarks')['controls']; let remarksIndex = index">
                <div [formGroupName]="remarksIndex">
                  <div class="fields">
                    <div class="three wide field">
                      <div class="ui fluid search selection dropdown">
                        <input type="hidden" formControlName="remark_type" value="" name="remarkType">
                        <i class="dropdown icon"></i>
                        <div class="default text">Remark Type</div>
                        <div class="menu">
                          <div class="item" (click)="setDropDownType('Type 1', 'remark_type')">Type 1</div>
                          <div class="item" (click)="setDropDownType('Type 2', 'remark_type')">Type 2</div>
                        </div>
                      </div>
                    </div>
                    <div class="three wide field ">
                      <div class="ui fluid search selection dropdown">
                        <input type="hidden" formControlName="remark_category" value="" name="category">
                        <i class="dropdown icon"></i>
                        <div class="default text">Category</div>
                        <div class="menu">
                          <div class="item" (click)="setDropDownType('Category 1', 'remark_category')">Category 1</div>
                          <div class="item" (click)="setDropDownType('Category 2', 'remark_category')">Category 2</div>
                        </div>
                      </div>
                    </div>
                    <div class="six wide field ">
                      <textarea type="text" name="remark" formControlName="remark" value="" placeholder="Remark"
                        rows="4" cols="50"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui primary button btn-sticky" (click)="addMoreNumbers()">
              Add Remark +
            </div>
          </div>
        </div>
      </div>
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Profile Notes</h4>
            </div>
            <div formArrayName="profile_notes">
              <div
                *ngFor="let profile_notesD of newAgencyProfileForm.get('profile_notes')['controls']; let notesIndex = index">
                <div [formGroupName]="notesIndex">
                  <div class="fields">
                    <div class="three wide field">
                      <div class="ui fluid search selection dropdown">
                        <input type="hidden" formControlName="profile_notes_category" value="" name="category">
                        <i class="dropdown icon"></i>
                        <div class="default text">Category</div>
                        <div class="menu">
                          <div class="item" (click)="setDropDownType('Category 1', 'profile_notes_category')">Category 1
                          </div>
                          <div class="item" (click)="setDropDownType('Category 1', 'profile_notes_category')">Category 2
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="five wide field ">
                      <input type="text" name="information" formControlName="profile_notes_information" value=""
                        placeholder="Information">
                    </div>
                    <div class="ui primary button btn-sticky" (click)="addMoreProfileNotes()">
                      Add Profile Note +
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Priority Lines 1</h4>
            </div>
            <div formArrayName="priority_lines1">
              <div
                *ngFor="let priority_lines1D of newAgencyProfileForm.get('priority_lines1')['controls']; let priorityIndex1 = index">
                <div [formGroupName]="priorityIndex1">
                  <div class="fields">
                    <div class="five wide field ">
                      <input type="text" name="information" formControlName="priorityInformation1" value=""
                        placeholder="">
                    </div>
                    <div class="ui primary button btn-sticky" (click)="addMorePriority_lines1()">
                      Add Priority Line +
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Priority Lines 2</h4>
            </div>
            <!-- <div class="fields"> -->
            <div formArrayName="priority_lines2">
              <div
                *ngFor="let priority_lines2D of newAgencyProfileForm.get('priority_lines2')['controls']; let priorityIndex2 = index">
                <div [formGroupName]="priorityIndex2">
                  <div class="fields">
                    <div class="five wide field ">
                      <input type="text" name="information" formControlName="priorityInformation2" value=""
                        placeholder="">
                    </div>
                    <div class="ui primary button btn-sticky" (click)="addMorePriority_lines2()">
                      Add Priority Line +
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="outer-basic outer-basic_secondary mtb">
        <div class="outer-basicForm_secondary">
          <div class="form-inner">
            <div class="fields">
              <h4>Follow Up</h4>
            </div>
            <div formArrayName="follow_up">
              <div
                *ngFor="let follow_upD of newAgencyProfileForm.get('follow_up')['controls']; let follow_upIndex = index">
                <div [formGroupName]="follow_upIndex">
                  <div class="fields">
                    <div class="three wide field ">
                      <input type="text" name="date" formControlName="followUpDate" value=""
                        placeholder="Date (DDMMYYYY)">
                    </div>
                    <div class="three wide field ">
                      <input type="text" name="action" formControlName="followUpAction" value="" placeholder="Action">
                    </div>
                    <div class="ui primary button btn-sticky" (click)="addMoreFollow_up()">
                      Add Follow Up +
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="ui sixteen wide column grid">
        <div class="sixteen wide column text-right">
          <button type="button" class="ui positive button m-auto" (click)="createNewAgencyProfile()">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
