<div class="outer-wrapper">
    <div class="container-fluid">
          <div class="ui grid m-0">
              <div class="sixteen wide column row">
                  <div class="twelve wide column">
                      <div class="modify-search-block">
                          <div class="ui grid">
                              <div class="sixteen wide column row">
                                  <div class="sixteen wide column p-0 right">

                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="search-list-block">
                        <div class="ui grid item-block">
                            <div class="sixteen wide column row"  style="margin-bottom: 24px;">
                                <div class="six wide column item-image image-display" [ngStyle]="{'background-image': 'url(' + single.carImage + ')'}">
                                 <!-- <img src="./../../../../../assets/img/hotelPassenger.jpg" title="Parkside Suites" /> -->
                                </div>
                                <div class="ten wide column item-details">
                                    <div class="ui grid">

                                            <div class="ten wide column">
                                                <h2> {{single.carName}} </h2>
                                                <p class="light">{{single.carClass}}<!--Sports Car--> <span>.</span> <span>{{single.carCompanyName}}<!--Sixt Rent a Car--></span></p>
                                                <br/>
                                                <p class="light">{{single.pickUpstationAdd}}</p>
                                            </div>
                                            <div class="four wide column right">

                                                <p>Total</p>
                                                <p><b>{{single.currency}} {{single.markupPrice}}</b></p>

                                            </div>




                                    <div class="sixteen wide column row pt-0">
                                        <div class="ten wide column amenities-block">
                                          <img *ngIf="single.transmission=='Automatic Transmission'" src="./../../../../../assets/icons/auto.svg" />

                                          <span *ngIf="single.transmission=='Automatic Transmission'">Auto</span>

                                          <img src="./../../../../../assets/icons/seater.svg"/>

                                          <span>{{single.maxPax}} Seater</span>

                                          <img src="./../../../../../assets/icons/door.svg" />
                                          <span> {{single.doors}} Doors</span>


                                          <br/>
                                          <img src="./../../../../../assets/icons/bag.svg" />

                                        <span>{{single.luggageLarge}} Bag</span>



                                          <img *ngIf="single.ac=='true'" src="./../../../../../assets/icons/ac.svg" />

                                          <span *ngIf="single.ac=='true'">AC</span>

                                        </div>
                                    </div>


                                    </div>
                                </div>

                            </div>

                            <div class="sixteen wide column row" style="margin-bottom: 24px;">
                                <div class="six wide column">
                                  <label>PICK UP LOCATION</label>
                                  <p><b>{{single.pickUpstationName}}</b></p>
                                </div>
                                <div class="five wide column">
                                  <label>PICK UP DATE</label>
                                  <p><b>{{carsearch.startDate | date:'dd/MM/yyyy'}} </b></p>
                                </div>
                                <div class="five wide column">
                                    <label>PICK UP TIME</label>
                                  <p><b>{{carsearch.startTime}}</b></p>
                                </div>

                              </div>
                              <div class="sixteen wide column row" style="margin-bottom: 24px;">
                                <div class="six wide column">
                                    <label>DROP OFF LOCATION</label>
                                    <p><b>{{single.dropOffstationName}} </b></p>
                                  </div>
                                  <div class="five wide column">
                                    <label>DROP OF DATE</label>
                                    <p><b>{{carsearch.endDate | date:'dd/MM/yyyy'}} </b></p>
                                  </div>
                                  <div class="five wide column">
                                      <label>DROP OFF TIME</label>
                                    <p><b>{{carsearch.endTime}}</b></p>
                                  </div>

                                </div>


                        </div>
                    </div>
                    <form [formGroup]="carBookForm">
                      <div class="search-list-block">
                        <div class="ui grid item-block">
                            <div class="sixteen wide column row">
                                  <div class="sixteen wide column item-details">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row">
                                            <div class="sixteen wide column">
                                                <h2>Driver Details</h2>
                                               </div>
                                          </div>
                                          <div class="sixteen wide column row">
                                              <div class="two wide column">
                                                <label><b>Salutation</b></label>
                                                <div class="ui selection dropdown fluid">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text">Title</div>
                                                  <div class="menu">
                                                    <div class="item">Mr.</div>
                                                    <div class="item">Mrs.</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="five wide column">
                                                <label><b>First Name</b>
                                                  <span class="mandatory">*</span>
                                                </label>
                                                <div class="ui input fluid" [ngClass]="{'is-invalid': formIsSubmitted && gfc.first_name.errors}">
                                                  <input type="text" name="first_name" formControlName="first_name"
                                                    placeholder="First Name">
                                                </div>
                                              </div>
                                              <div class="five wide column">
                                                <label><b>Last Name</b>
                                                  <span class="mandatory">*</span>
                                                </label>
                                                <div class="ui input fluid" [ngClass]="{'is-invalid': formIsSubmitted && gfc.last_name.errors}">
                                                  <input type="text" name="last_name" formControlName="last_name"
                                                    placeholder="Last Name">
                                                </div>
                                              </div>
                                              <div class="four wide column">
                                                <label>Phone Number</label>
                                                <div class="ui input fluid">
                                                  <input type="text" name="phone" formControlName="phone" placeholder="Phone">
                                                </div>
                                              </div>
                                     </div>
                                 </div>
                                </div>
                            </div>

                        </div>
                    </div>

                <div class="search-list-block" *ngIf="cancelPolicy">
                    <div class="ui grid item-block">
                        <div class="sixteen wide column row">
                              <div class="sixteen wide column item-details">
                                <div class="ui grid">
                                    <div class="sixteen wide column row">
                                        <div class="sixteen wide column">
                                            <h2>Cancellation Policy</h2>
                                           </div>
                                      </div>
                                      <div *ngFor="let cancellationData of cancelPolicy" class="sixteen wide column row">
                                          <div class="seven wide column">
                                            <label>FROM DATE:</label>
                                            <p><b>{{cancellationData.fromDate}}<!--Feb 9, 2020, 4:46pm--> </b></p>
                                          </div>
                                          <div class="seven wide column">
                                            <label>To DATE:</label>
                                            <p><b>{{cancellationData.toDate}} <!--Feb 26, 2020, 11:59pm--> </b></p>
                                          </div>
                                          <div class="two wide column">
                                            <p><b>{{cancellationData.SCSupplierCurrency}} {{cancellationData.markupPrice}}</b></p>
                                          </div>

                                        </div>


                                   </div>
                               </div>
                           </div>

                    </div>
                </div>

                  <div class="search-list-block">
                    <div class="ui grid item-block">
                        <div class="sixteen wide column row">
                              <div class="sixteen wide column item-details">
                                <div class="ui grid">
                                    <div class="sixteen wide column row">
                                        <div class="sixteen wide column">
                                            <h2><b>Payment Details</b></h2>
                                           </div>
                                      </div>
                                      <div class="sixteen wide column row">
                                            <div class="four wide column">
                                                <label><b>Mail ID</b></label>
                                                <div class="ui input fluid">
                                                  <input type="text" name="bookingEmail" formControlName="bookingEmail" placeholder="Email Address">
                                                </div>
                                              </div>
                                          <div class="four wide column">
                                            <label><b>Agent Reference</b>
                                              <span class="mandatory"></span>
                                            </label>
                                            <div class="ui input fluid">
                                              <input type="text" name="bookingReference" formControlName="bookingReference"
                                                placeholder="Reference">
                                            </div>
                                          </div>

                                        </div>
                                        <div class="sixteen wide column row">
                                           <div class="eight wide column">
                                              <label><b>Remarks</b>
                                                <span class="mandatory"></span>
                                              </label>
                                              <div class="ui input fluid">
                                                <input type="text" name="lastName"
                                                  placeholder="">
                                              </div>
                                            </div>
                                       </div>

                                       <div class="sixteen wide column row">
                                          <div class="four wide column">
                                              <label><b>Terms & Conditions</b>
                                                <span class="mandatory"></span>
                                              </label>
                                            </div>
                                        </div>
                                        <div class="sixteen wide column row">
                                            <div class="eight wide column">
                                            <div class="ui checkbox mar-right-15px outer-checkbox">
                                              <input type="checkbox" name="same-check" formControlName="rulesCondition" [(ngModel)]="rulesCondition" value="">
                                              <label for="same-check"><b>
                                                I have read and accept the rules and restrictions.(Please check the box to continue)
                                            </b>
                                              </label>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="sixteen wide column row">
                                        <div class="eight wide column">
                                        <div class="ui checkbox mar-right-15px outer-checkbox">
                                          <input type="checkbox" name="same-check" [(ngModel)]="reserveCondition" value=""
                                                 formControlName="reserveCondition">
                                          <label for="same-check">
                                           <b>
                                             Reservation Terms And Cancellation Policy.(Please check the box to continue)
                                            </b>
                                          </label>
                                        </div>
                                        </div>
                                   </div>
                                   </div>
                               </div>
                           </div>

                    </div>
                </div>
                <div class="button-block">
                  <div class="ui grid">
                      <div class="sixteen wide column row">
                          <div class="sixteen wide column text-right">
<!--                              <div class="act-rate">-->
<!--                                <p class="info">-->
<!--                                  Due at Pickup	-->
<!--                                  <span class="label"></span>-->
<!--                              </p>-->
<!--                              <p class="info">{{single.currency}} {{single.Programs.Program.mandatoryFees.value}}</p>  -->
<!--                                <p class="info">-->
<!--                                  Vat Amount-->
<!--                                  <span class="label"></span>-->
<!--                              </p>-->
<!--                              <p class="info">{{single.currency}} {{single.Programs.Program.appliedTotalTax}}</p>  -->
<!--                                <p class="info">-->
<!--                                      Total Amount-->
<!--                                      <span class="label">(VAT Inclusive)</span>-->
<!--                                  </p>-->
<!--                                  <p class="info">{{single.currency}} {{single.Programs.Program.markUpPrice}}</p>-->
<!--                              </div>-->
                              <button class="confirm-btn" [disabled]="!rulesCondition || !reserveCondition || !clickBookButton" (click)="carbook(single)"> <i *ngIf="bookCarSpinner" class="fa fa-spinner fa-spin"></i> CONFIRM </button>
                          </div>
                      </div>
                  </div>
              </div>
                </form>

                      <!-- Search More -->

                  </div>
                  <div class="four wide column">
                      <div class="fliter-head-block">
                          <div class="ui grid">
                              <div class="sixteen wide column row">
                                  <div class="ten wide column">
                                      <h2>Price Details</h2>
                                  </div>
                              </div>
                          </div>
                      </div>



                      <!-- Side Filters -->
                      <div class="filter-list-block">
                          <div class="ui grid filter-block">
                              <div class="sixteen wide column row filters">
                                  <div class="sixteen wide column">
                                      <div class="ui grid">
                                         <div class="sixteen wide column row">
                                            <div class="ten wide column">
                                                <h5><b>Car</b></h5>
                                            </div>
                                        </div>
                                          <div class="sixteen wide column row pt-0">
                                             <div class="nine wide column">
                                                 <p><b>Due at Pickup</b></p>
                                             </div>

                                             <div class="seven wide column right">
                                                <p>{{single.currency}} {{single.Programs.Program.mandatoryFees.value}}</p>
                                            </div>
                                          </div>
                                           <div class="sixteen wide column row pt-0">
                                            <div class="nine wide column">
                                                <p><b>VAT</b></p>
                                            </div>

                                            <div class="seven wide column right">
                                               <p>{{single.currency}} {{single.Programs.Program.appliedTotalTax}}</p>
                                           </div>
                                         </div>

                                         <div class="sixteen wide column row pt-0">
                                            <div class="nine wide column">
                                                <p><b>Total Amount</b></p>
                                                <h6>(VAT inclusive)</h6>
                                            </div>

                                            <div class="seven wide column right">
                                               <p><b>{{single.currency}} {{single.markupPrice}}</b></p>
                                           </div>
                                         </div>
                                         <div class="sixteen wide column">
                                            <hr style="opacity:0.3;"/>
                                           </div>
                                         <!-- <div class="sixteen wide column row pt-0">
                                             <div class="twelve wide column">
                                         <button class="confirm-btn" (click)="carbook(single)"> CONFIRM </button>
                                        </div>
                                         </div> -->
                                      </div>
                                  </div>
                              </div>

                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>
