<div class="ui clearing segment pos-basic-edit-btn bookings_btn-panel text-right">
    <div class="ui button primary tab_margin branch2 button-wrapper" [routerLink]="['/pos/branch-info/',organisationId]" routerLinkActive="active">
        Branch
    </div> 
    <div class="ui button primary tab_margin branch2 button-wrapper" [routerLink]="['/pos/office-address/',organisationId]" routerLinkActive="active">
        Office Address
    </div>
    <div class="ui button primary tab_margin branch2 button-wrapper" [routerLink]="['/pos/branding-info/',organisationId]" routerLinkActive="active">
        Branding informations
    </div>
    <div class="ui button primary tab_margin branch2 button-wrapper" [routerLink]="['/pos/monthly-target/',organisationId]" routerLinkActive="active">
        Monthly Target
    </div>
    <div class="ui button primary tab_margin branch2 button-wrapper" [routerLink]="['/pos/active-suppliers/',organisationId]" routerLinkActive="active">
        Suppliers
    </div>
    <div class="ui button primary tab_margin branch2 button-wrapper" [routerLink]="['/pos/airline-rbd/',organisationId]" routerLinkActive="active">
        Airline RBD
    </div>
</div>