$primary-color: #437ADA;
$secondary-color: #A6B1C3;
$deep-blue-color: #062862;
$light-smoke-color: #e5e5e5;
$voila-green: #84BC6A;
$pure-white: white;
$fault-color: #DE7979;
$warning-color: #ECC04E;
$success-color: #73B25D;

$body-base: #fff;
$corporate-blue-base: #4567AC;

$container-base: white;
$container-base-shadow: 0 0px 3px rgba(60, 64, 67, 0.3), 0 4px 8px 2px rgba(60, 64, 67, 0.15);
$container-dropdowns-shadow: 0px 8px 14px rgba(0, 58, 164, .2);

$primary-shadow: 0px 4.83px 16px rgba(67, 122, 218, .5);
$light-shadow: 0px 4px 6px rgba(0, 58, 164, .25);
$faded-shadow: 0px 4px 6px rgba(167, 173, 182, .2);
$light-extended-shadow: 0px 4px 6px rgba(0, 58, 164, .25);

$border-radius-primary: 8px;
$border-radius-secondary: 6px;

$font-family: 'Roboto', sans-serif;
$font-weight-normal: 400;

$toast-info-color: $primary-color;
$toast-info-shadow: 0 4px 12px rgba(111, 0, 0, .2);

$toast-error-color: $fault-color;
$toast-error-shadow: 0 4px 12px rgba(111, 0, 0, .2);

$toast-warning-color: $warning-color;
$toast-warning-shadow: 0 4px 12px rgba(177, 127, 0, .2);

$toast-success-color: $success-color;
$toast-success-shadow: 0 4px 12px rgba(34, 130, 0, .2);
