.update-header {
    color: #4F4F4F;
    font-size: 20px;
    font-weight: 200;
    line-height: 22px;
}

.ui.fluid.container {
    padding: 25px;
}

.outer-basic {
    padding: 24px;
    background: #fff;
    box-shadow: 0 0px 3px rgba(60, 64, 67, 0.3), 0 4px 8px 2px rgba(60, 64, 67, 0.15);
    border-radius: 4.96141px;
    margin-top: 24px;
}

.outer-basicForm {
    width: 100%;
    height: auto;
}

.basic-header {
    font-family: 'Roboto', sans-serif;
}

.ui.grid h3 {
    margin-top: 0px !important;
}

.ui.header {
    font-weight: 400 !important;
    font-size: 18px;
}

.ui.checkbox input:checked ~ label {
    color: #3867b1;
    &:before {
        border-color: #3867b1;
    }
    &:after {
        color: #3867b1;
    }
}

@media (max-width: 920px) {
    .ui.grid.edit-checkbox-list {
        .three.wide.column {
            width: 25% !important;
        }
    }
}

@media (max-width: 767px) {
    .ui.grid.edit-checkbox-list {
        .three.wide.column {
            width: 31.25% !important;
        }
    }
}

@media (max-width: 630px) {
    .ui.grid.edit-checkbox-list {
        .three.wide.column {
            width: 48.5% !important;
        }
    }
    .ui.grid.grid-header {
        .four.wide.column {
            width: 50% !important;
        }
    }
}

@media (max-width: 420px) {
    .ui.grid.edit-checkbox-list {
        .three.wide.column {
            width: 100% !important;
        }
    }
    .ui.grid.grid-header {
        .four.wide.column {
            width: 100% !important;
        }
    }
}