<jw-modal id="meal-modal" class="anc_modal">
    <div class="ui">
        <h2>Add Meal</h2>
        <i class="close icon" (click)="closeModal('meal-modal')"></i>
        <div class="ui grid">
            <div class="sixteen wide column row traveller-wrapper">
                <div class="five wide column traveller-list-block">
                    <div class="ui tabular menu">
                        <div class="item active" data-tab="traveller-tab1">
                            <span class="name">Traveller Name</span>
                            <span class="type">ADT</span>
                        </div>
                        <div class="item" data-tab="traveller-tab2">
                            <span class="name">Traveller Name</span>
                            <span class="type">CHD</span>
                        </div>
                    </div>
                </div>
                <div class="eleven wide column travller-detail-block">
                    <div class="ui tab active" data-tab="traveller-tab1">
                        <div class="route-block">
                            <div class="ui styled accordion">
                                <div class="title active">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row p-0">
                                            <div class="five wide column line"></div>
                                            <div class="six wide column route">
                                                <span>DXB - COK</span>
                                            </div>
                                            <div class="five wide column line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content active">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row">
                                            <div class="five wide column content-block active">
                                                <div class="info">
                                                    <h3>Child Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="five wide column content-block">
                                                <div class="info">
                                                    <h3>Vegan Vegetarian Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="add">Add</button>
                                                </div>
                                            </div>
                                            <div class="five wide column content-block disabled">
                                                <div class="info">
                                                    <h3>Vegan Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="add">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row p-0">
                                            <div class="five wide column line"></div>
                                            <div class="six wide column route">
                                                <span>COK - DXB</span>
                                            </div>
                                            <div class="five wide column line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row">
                                            <div class="five wide column content-block active">
                                                <div class="info">
                                                    <h3>Child Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="five wide column content-block">
                                                <div class="info">
                                                    <h3>Vegan Vegetarian Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="add">Add</button>
                                                </div>
                                            </div>
                                            <div class="five wide column content-block disabled">
                                                <div class="info">
                                                    <h3>Vegan Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="add">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui tab" data-tab="traveller-tab2">
                        <div class="route-block">
                            <div class="ui styled accordion">
                                <div class="title active">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row p-0">
                                            <div class="five wide column line"></div>
                                            <div class="six wide column route">
                                                <span>DXB - COK</span>
                                            </div>
                                            <div class="five wide column line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content active">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row">
                                            <div class="five wide column content-block active">
                                                <div class="info">
                                                    <h3>Child Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="remove">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row p-0">
                                            <div class="five wide column line"></div>
                                            <div class="six wide column route">
                                                <span>COK - DXB</span>
                                            </div>
                                            <div class="five wide column line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="ui grid">
                                        <div class="sixteen wide column row">
                                            <div class="five wide column content-block active">
                                                <div class="info">
                                                    <h3>Child Meal</h3>
                                                    <p>AED
                                                        <span>32</span>
                                                    </p>
                                                    <button>View</button>
                                                    <button class="remove">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column row action-block">
                <div class="ten wide column">
                    <h5>Total:</h5>
                    <button class="sel_item">Child Meal
                        <span aria-hidden="true" class="close">&times;</span>
                    </button>
                </div>
                <div class="six wide column bookings_btn-panel">
                    <button class="ui export button" (click)="closeModal('meal-modal')">Cancel</button>
                    <button class="ui primary button">Submit</button>
                </div>
            </div>
        </div>
    </div>
</jw-modal>