
<h3><span class="booking-header">Follow Up</span></h3>
<div class="ui fluid container">
    <div class="outer-basic">
        <div class="outer-basicForm">
            <form class="ui form" autocomplete="off">
                <div class="form-inner">

                    <div class="user-table-list b2c-list-user-table">
                        <table class="ui stackable celled table">
                            <thead>
                                <tr class="center aligned">
                                    <th>Record Locator</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr class="center aligned">
                                    <td data-label="s/no">01</td>
                                    <td data-label="tripId">TSS4678D19915</td>
                                    <td data-label="agentReference">Tester-B2C</td>
                                    <td data-label="bookedBy">Global Tour</td>
                                    <td data-label="bookedDate">11/09/2019</td>
                                    <td data-label="paymentType">Paid by Credit</td>
                                    <td data-label="amount">AED 2,215.00</td>
                                    <td data-label="product">icon</td>
                                    <td data-label="delete">SABRE</td>
                                    <td data-label="confirmed" class="confirm">
                                        <div class="recConfirm">Confirmed</div>
                                    </td>
                                    <td data-label="view"><a [routerLink]="['']">View</a></td>
                                </tr>
                                <tr class="center aligned">
                                    <td data-label="s/no">02</td>
                                    <td data-label="tripId">TSS4678D19915</td>
                                    <td data-label="agentReference">Tester-B2C</td>
                                    <td data-label="bookedBy">Global Tour</td>
                                    <td data-label="bookedDate">11/09/2019</td>
                                    <td data-label="paymentType">Paid by Credit</td>
                                    <td data-label="amount">AED 2,215.00</td>
                                    <td data-label="product">icon</td>
                                    <td data-label="delete">SABRE</td>
                                    <td data-label="confirmed" class="confirm">
                                        <div class="recConfirm">Confirmed</div>
                                    </td>
                                    <td data-label="view"><a [routerLink]="['']">View</a></td>
                                </tr>
                                <tr class="center aligned">
                                    <td data-label="s/no">03</td>
                                    <td data-label="tripId">TSS4678D19915</td>
                                    <td data-label="agentReference">Tester-B2C</td>
                                    <td data-label="bookedBy">Global Tour</td>
                                    <td data-label="bookedDate">11/09/2019</td>
                                    <td data-label="paymentType">Paid by Credit</td>
                                    <td data-label="amount">AED 2,215.00</td>
                                    <td data-label="product">icon</td>
                                    <td data-label="delete">SABRE</td>
                                    <td data-label="confirmed" class="confirm">
                                        <div class="recConfirm">Confirmed</div>
                                    </td>
                                    <td data-label="view"><a [routerLink]="['']">View</a></td>
                                </tr> -->
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="11">
                                        <!-- <div class="ui right floated pagination menu">
                                            <a class="icon item"><i class="left chevron icon"></i></a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="item">3</a>
                                            <a class="item">4</a>
                                            <a class="icon item"><i class="right chevron icon"></i></a>
                                        </div> -->
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="bookings_btn-panel">
                            <!-- <button class="ui primary  button">
                                    Search
                                </button>
                                <button class="ui secondary  button">
                                    Reset
                                </button> -->
                            <button class="ui primary button ">
                                Refresh
                            </button>
                            <button ng-disabled class="ui secondary button ">
                                Open Profile
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>