<h3><span class="update-header">Promotion Content</span></h3>
<div class="ui fluid container promotion">
  <div class="promotion_content">
    <div class="promotion_content__box">
      <div class="ui four cards">
        <div class="card promotion_content__card">
          <div class="image ">
            <img class="promotion_content__image" src="./../../../../assets/img/dubai_lester.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/children-beach.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/beach-blur.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/adrenaline.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/ancient-sunset.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="image promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/ladyCard.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="image promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/children-beach.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
        <div class="card promotion_content__card">
          <div class="image promotion_content__image">
            <img class="promotion_content__img" src="./../../../../assets/img/dubai_lester.png">
          </div>
          <div class="extra">
            <div class="content">
              <a class="header"><span class="card_text">Dubai</span><span class="card_textTwo">- United Arab
                  Emirates</span></a>
              <div class="meta">
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/check-mark.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/edit.png" /></i></span>
                <span class="date"> <i class="icon"><img class="flights_input__placeholder-icon"
                      src="./../../../../assets/img/delete-button.png" /></i></span>
              </div>
            </div>
            <div class="ui star rating" data-rating="4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>