<h3><span class="booking-header">Generate IUR File</span></h3>
<div class="ui fluid container">
    <div class="outer-basic">
        <div class="outer-basicForm">
            <form class="ui form">
                <div class="form-inner">
                    <div class="fields">
                        <div class="three wide field bookings_pickers">
                            <div class="ui left icon input ml-1 ">
                                <input type="text" placeholder="Start Date" name="date" value="" />
                                <i class="icon">
                                    <img src="./../../../../assets/icons/calendar.svg"
                                        class="bookings_input__placeholder-icon cal" />
                                </i>
                            </div>
                        </div>
                        <div class="three wide field bookings_pickers">
                            <div class="ui left icon input ml-1 ">
                                <input type="text" placeholder="End Date" name="date" value="" />
                                <i class="icon">
                                    <img src="./../../../../assets/icons/calendar.svg"
                                        class="bookings_input__placeholder-icon cal" />
                                </i>
                            </div>
                        </div>
                        <div class="two wide field">
                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="products">
                                <i class="dropdown icon"></i>
                                <div class="default text">All Products</div>
                                <div class="menu">
                                    <div class="item" data-value="product1">Product 1</div>
                                    <div class="item" data-value="product2">Product 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="bookings_btn-panel">
                            <button class="ui primary  button">
                                Download IUR
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>