<div class="outer-wrapper">
    <div class="container-fluid">
          <div class="ui grid m-0">
              <div class="sixteen wide column row">
                  <div class="twelve wide column">
                      <div class="modify-search-block">
                          <div class="ui grid">
                              <div class="sixteen wide column row">
                                  <div class="sixteen wide column p-0 right">
                                   
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="search-list-block">
                        <div class="ui grid item-block">
                            <div class="sixteen wide column row">
                                <div class="six wide column item-image">
                                 <!-- <img src="./../../../../../assets/img/hotelPassenger.jpg" title="Parkside Suites" /> -->
                                </div>
                                <div class="ten wide column item-details">
                                    <div class="ui grid">
                                      
                                            <div class="ten wide column">
                                                <h2> Mercedes A-Class</h2>
                                                <p class="light">Sports Car <span>.</span> <span>Sixt Rent a Car</span></p>
                                                <br/>
                                                <p class="light">Dubai Intl Ap, Dubai, AE , Dubai Intl Ap, Dubai, AE</p>
                                            </div>
                                            <div class="four wide column right">
                                               
                                                <p>Total</p>
                                                <p><b>AED 424.00</b></p>
                                                
                                            </div>
                                           
                                      
                                        
                                   
                                    <div class="sixteen wide column row pt-0">
                                        <div class="ten wide column amenities-block">
                                          <img src="./../../../../../assets/icons/auto.svg" />
                    
                                          <span>Auto</span>
                                         
                                          <img src="./../../../../../assets/icons/seater.svg"/>
                                        
                                          <span>Seater</span>
                                        
                                          <img src="./../../../../../assets/icons/door.svg" />
                                          <span> Doors</span>
                                         
                                         
                                          <br/>
                                          <img src="./../../../../../assets/icons/bag.svg" />
                                          
                                        <span>Bag</span>

                                          
                                          
                                          <img  src="./../../../../../assets/icons/ac.svg" />
                                          
                                          <span >AC</span>
                                          
                                        </div>
                                    </div>
                                 
                                     
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="sixteen wide column row">
                                <div class="three wide column">
                                  <label>PICK UP LOCATION</label>
                                  <p><b>Dubai </b></p>
                                </div>
                                <div class="three wide column">
                                  <label>PICK UP DATE</label>
                                  <p><b>24 Feb, 20 </b></p>
                                </div>
                                <div class="three wide column">
                                    <label>PICK UP TIME</label>
                                  <p><b>14:00</b></p>
                                </div>
                                
                              </div>
                              <div class="sixteen wide column row">
                                <div class="three wide column">
                                    <label>DROP OFF LOCATION</label>
                                    <p><b>Sharjah </b></p>
                                  </div>
                                  <div class="three wide column">
                                    <label>PICK UP DATE</label>
                                    <p><b>28 Feb, 20 </b></p>
                                  </div>
                                  <div class="three wide column">
                                      <label>DROP OFF TIME</label>
                                    <p><b>16:00</b></p>
                                  </div>
                                  
                                </div>
                         
                    
                        </div>
                    </div>
                      <div class="search-list-block">
                        <div class="ui grid item-block">
                            <div class="sixteen wide column row">
                                  <div class="sixteen wide column item-details">
                                    <div class="ui grid main-block">
                                        <div class="sixteen wide column row">
                                            <div class="sixteen wide column">
                                                <h2>Driver Details</h2>
                                               </div>
                                          </div>
                                          <div class="sixteen wide column row">
                                              <div class="two wide column inner-wrapper">
                                                <label><b>Salutation</b></label>
                                                <div class="ui selection dropdown fluid">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text">Title</div>
                                                  <div class="menu">
                                                    <div class="item">Mr.</div>
                                                    <div class="item">Mrs.</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="five wide column">
                                                <label><b>First Name</b>
                                                  <span class="mandatory">*</span>
                                                </label>
                                                <div class="ui input fluid">
                                                  <input type="text" name="firstName" 
                                                    placeholder="First Name">
                                                </div>
                                              </div>
                                              <div class="five wide column">
                                                <label><b>Last Name</b>
                                                  <span class="mandatory">*</span>
                                                </label>
                                                <div class="ui input fluid">
                                                  <input type="text" name="lastName" 
                                                    placeholder="Last Name">
                                                </div>
                                              </div>
                                              <div class="four wide column">
                                                <label>Phone Number</label>
                                                <div class="ui input fluid">
                                                  <input type="text" name="phone" placeholder="Phone">
                                                </div>
                                              </div>
                                     </div>
                                 </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                <div class="search-list-block">
                    <div class="ui grid item-block">
                        <div class="sixteen wide column row">
                              <div class="sixteen wide column item-details">
                                <div class="ui grid">
                                    <div class="sixteen wide column row">
                                        <div class="sixteen wide column">
                                            <h2>Cancellation Policy</h2>
                                           </div>
                                      </div>
                                      <div class="sixteen wide column row">
                                          <div class="seven wide column">
                                            <label>FROM DATE:</label>
                                            <p><b>Feb 9, 2020, 4:46pm </b></p>
                                          </div>
                                          <div class="seven wide column">
                                            <label>To DATE:</label>
                                            <p><b>Feb 26, 2020, 11:59pm </b></p>
                                          </div>
                                          <div class="two wide column">
                                            <p><b>AED 0.00</b></p>
                                          </div>
                                          
                                        </div>
                                        <div class="sixteen wide column row">
                                            <div class="seven wide column">
                                              <label>FROM DATE:</label>
                                              <p><b> Feb 26, 2020, 11:59pm </b></p>
                                            </div>
                                            <div class="seven wide column">
                                              <label>To DATE:</label>
                                              <p><b>Feb 28, 2020, 12:00am</b></p>
                                            </div>
                                            <div class="two wide column">
                                              <p><b>AED 555.07</b></p>
                                            </div>
                                            
                                          </div>
                                   
                                      
                                   </div>
                               </div>
                           </div>
                        
                    </div>
                </div>
                    
                  <div class="search-list-block">
                    <div class="ui grid item-block">
                        <div class="sixteen wide column row">
                              <div class="sixteen wide column item-details">
                                <div class="ui grid">
                                    <div class="sixteen wide column row">
                                        <div class="sixteen wide column">
                                            <h2><b>Payment Details</b></h2>
                                           </div>
                                      </div>
                                      <div class="sixteen wide column row">
                                            <div class="four wide column">
                                                <label><b>Mail ID</b></label>
                                                <div class="ui input fluid">
                                                  <input type="text" name="email" placeholder="Email Address">
                                                </div>
                                              </div>
                                          <div class="four wide column">
                                            <label><b>Agent Reference</b>
                                              <span class="mandatory"></span>
                                            </label>
                                            <div class="ui input fluid">
                                              <input type="text" name="firstName" 
                                                placeholder="First Name">
                                            </div>
                                          </div>
                                         
                                        </div>
                                        <div class="sixteen wide column row">
                                           <div class="eight wide column">
                                              <label><b>Remarks</b>
                                                <span class="mandatory"></span>
                                              </label>
                                              <div class="ui input fluid">
                                                <input type="text" name="lastName" 
                                                  placeholder="">
                                              </div>
                                            </div>
                                       </div>
                                      
                                       <div class="sixteen wide column row">
                                          <div class="four wide column">
                                              <label><b>Terms & Conditions</b>
                                                <span class="mandatory"></span>
                                              </label>
                                            </div>
                                        </div>
                                        <div class="sixteen wide column row">
                                            <div class="eight wide column">
                                            <div class="ui checkbox mar-right-15px outer-checkbox">
                                              <input type="checkbox" name="same-check">
                                              <label for="same-check"><b>
                                                I have read and accept the rules and restrictions.(Please check the box to continue)
                                            </b>
                                              </label>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="sixteen wide column row">
                                        <div class="eight wide column">
                                        <div class="ui checkbox mar-right-15px outer-checkbox">
                                          <input type="checkbox" name="same-check">
                                          <label for="same-check">
                                           <b>
                                             Reservation Terms And Cancellation Policy.(Please check the box to continue)
                                            </b>
                                          </label>
                                        </div>
                                        </div>
                                   </div>
                                   </div>
                               </div>
                           </div>
                                          
                    </div>
                </div>
                   
                      <!-- Search More -->
        
                  </div>
                  <div class="four wide column">
                      <div class="fliter-head-block">
                          <div class="ui grid">
                              <div class="sixteen wide column row">
                                  <div class="ten wide column">
                                      <h2>Price Details</h2>
                                  </div>
                              </div>
                          </div>
                      </div>
  
  
  
                      <!-- Side Filters -->
                      <div class="filter-list-block">
                          <div class="ui grid filter-block">
                              <div class="sixteen wide column row filters">
                                  <div class="sixteen wide column">
                                      <div class="ui grid">
                                         <div class="sixteen wide column row">
                                            <div class="ten wide column">
                                                <h5><b>Car</b></h5>
                                            </div>
                                        </div>
                                          <div class="sixteen wide column row pt-0">
                                             <div class="nine wide column">
                                                 <p><b>Due at Pickup</b></p>
                                             </div>
                                            
                                             <div class="seven wide column right">
                                                <p>AED 198.50</p>
                                            </div>
                                          </div>
                                          <div class="sixteen wide column row pt-0">
                                            <div class="nine wide column">
                                                <p><b>VAT</b></p>
                                            </div>
                                           
                                            <div class="seven wide column right">
                                               <p>SAR 0.13</p>
                                           </div>
                                         </div>
                                       
                                         <div class="sixteen wide column row pt-0">
                                            <div class="nine wide column">
                                                <p><b>Total Amount</b></p>
                                                <h6>(VAT inclusive)</h6>
                                            </div>
                                           
                                            <div class="seven wide column right">
                                               <p><b>AED 424.00</b></p>
                                           </div>
                                         </div>
                                         <div class="sixteen wide column">
                                            <hr style="opacity:0.3;"/>
                                           </div>
                                         <div class="sixteen wide column row pt-0">
                                             <div class="twelve wide column">
                                         <button _ngcontent-pop-c195="" class="confirm-btn"> CONFIRM </button>
                                        </div>
                                         </div>
                                      </div>
                                  </div>
                              </div>
                           
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
 
