<div class="ui grid m-0">
    <div class="sixteen wide column row filter-block-wrap">
      <div class="four wide column text-left">
  
     <button class="ui button primary header-box_search-box__search-icon" > Reset </button>
      </div>
      <div class="twelve wide column flight-filter-wrapper text-right">
        <div class="filter-seg">
          <button class="flight-filter-btns">
            <img src="./../../../../../assets/icons/airline.svg" class="filter-icons" />
            Airline
            <img src="./../../../../assets/icons/downArrow-black.svg" />
          </button>
        </div>
        <div class="filter-seg">
          <button class="flight-filter-btns">
            <img src="./../../../../../assets/icons/airports.svg" width="16" height="16" class="filter-icons" />
            Airport
            <img src="./../../../../assets/icons/downArrow-black.svg" />
          </button>
        </div>
        <div class="filter-seg">
          <button class="flight-filter-btns">
            <img src="./../../../../../assets/icons/stops.svg" width="16" height="16" class="filter-icons" />
            Stops
            <img src="./../../../../assets/icons/downArrow-black.svg" />
          </button>
        </div>
        <div class="filter-seg">
          <button class="flight-filter-btns">
            <img src="./../../../../../assets/icons/duration.svg" width="16" height="16" class="filter-icons" />
            Duration
            <img src="./../../../../assets/icons/downArrow-black.svg" />
          </button>
        </div>
        <div class="filter-seg">
          <button class="flight-filter-btns">
            <img src="./../../../../../assets/icons/timings.svg" width="16" height="16" class="filter-icons" />
            Timings
            <img src="./../../../../assets/icons/downArrow-black.svg" />
          </button>
        </div>
        <div class="filter-seg">
          <button class="flight-filter-btns">
            <img src="./../../../../../assets/icons/price.svg" width="16" height="16" class="filter-icons" />
            Price
            <img src="./../../../../assets/icons/downArrow-black.svg" />
          </button>
        </div>
      </div>
    </div>
  
  </div>
<div class="ui grid m-0">
    <div class="sixteen wide column row carousel-loader">
        <div class="sixteen wide column p-0">
            <div class="carousel-wrap">
                <div class="owl-carousel flight-carousel">
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="ui placeholder">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Suppliers">
    <div>
      <div class="OriginDestinations">
        <div class="dest-block">
          <div class="ui grid m-0">
            <div class="sixteen wide column row flight-dur-wrapper">
              <div class="nine wide column">
                <div class="ui grid">
                  <div class="sixteen wide column row route-loader">
                    <div class="four wide column">
                        <div class="ui placeholder">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="six wide column exp-wrapper">
                      <!-- <h4>Offer Expiration: </h4> -->
                      <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                    </div>
                    <div class="six wide column exp-wrapper">
                      <!-- <h4>Payment Expiration: </h4> -->
                      <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="seven wide column">
                <div class="ui grid">
                  <div class="sixteen wide column row">
                    <div class="two wide column flight-dir">
                      <!-- ECONOMY -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dest-block-content">
            <div class="dest-block-content-row">
              <div>
                <div class="ui fluid container ">
                  <div class="outer-basic animated fadeIn">
                    <div class="outer-basicForm">
                      <form>
                        <div class="ui grid m-0 loader-comp">
                          <div class="sixteen wide column row airline-tickets _oneway p-t-0">
                            <div class="ui nine wide column grid border-grid p-0">
                              <div class="ui twelve wide column grid text-left">
                                <div class="four wide column text-center">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                        <div class="paragraph">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui twelve wide column grid plane-grid flight_duration">
                                  <div class="three wide column">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="_crafts-border text-center">
                                      <div class="_craft _craft-up">
                                        <img src="./../../../../../../assets/img/blue-up.svg" />
                                      </div>
                                      <span>
                                        <div class="ui placeholder flight-dur-loader">
                                            <div class="line">
                                            </div>
                                        </div>
                                      </span>
                                      <div class="_craft _craft-down">
                                        <img src="./../../../../../../assets/img/blue-down.svg" />
                                      </div>
                                      <hr>
                                    </div>
                                    <p class="flight-type _highlight text-center">
                                      <!-- <span class="aircraft-no">
                                        (Aircraft No)
                                      </span> -->
                                      <span>
                                        <div class="ui placeholder stop-loader">
                                            <div class="line">
                                            </div>
                                        </div>
                                      </span>
                                    </p>
                                  </div>
                                  <div class="three wide column">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="ui four wide column grid icon-block icon-loader-wrap">
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="ui seven wide column priceclass">
                              <div class="priceclass_price price-loader">
                                <div class="ui two wide column grid ">
                                  <div class="ui sixteen wide column grid booking-class">
                                    <div class="sixteen wide column padd-top-0">
                                        <div>
                                            <div class="flight-book-top">
                                                <div class="ui placeholder">
                                                    <div class="image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="ui two wide column grid ">
                                    <div class="ui sixteen wide column grid booking-class">
                                      <div class="sixteen wide column padd-top-0">
                                          <div>
                                              <div class="flight-book-top">
                                                  <div class="ui placeholder">
                                                      <div class="image">
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="sixteen wide column row fare-loader-wrap">
            <div class="eight wide column border-right">
              <div class="ui grid">
                <div class="sixteen wide column row">
                  <div class="three wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="eight wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="three wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="two wide column"></div>
                </div>
              </div>
            </div>
            <div class="four wide column border-right text-center">
                <div class="ui placeholder">
                    <div class="line"></div>
                </div>
            </div>
            <div class="four wide column">
              <div>
                <div>
                  <div class="text-right">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="Suppliers">
    <div>
      <div class="OriginDestinations">
        <div class="dest-block">
          <div class="ui grid m-0">
            <div class="sixteen wide column row flight-dur-wrapper">
              <div class="nine wide column">
                <div class="ui grid">
                  <div class="sixteen wide column row route-loader">
                    <div class="four wide column">
                        <div class="ui placeholder">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="six wide column exp-wrapper">
                      <!-- <h4>Offer Expiration: </h4> -->
                      <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                    </div>
                    <div class="six wide column exp-wrapper">
                      <!-- <h4>Payment Expiration: </h4> -->
                      <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="seven wide column">
                <div class="ui grid">
                  <div class="sixteen wide column row">
                    <div class="two wide column flight-dir">
                      <!-- ECONOMY -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dest-block-content">
            <div class="dest-block-content-row">
              <div>
                <div class="ui fluid container ">
                  <div class="outer-basic animated fadeIn">
                    <div class="outer-basicForm">
                      <form>
                        <div class="ui grid m-0 loader-comp">
                          <div class="sixteen wide column row airline-tickets _oneway p-t-0">
                            <div class="ui nine wide column grid border-grid p-0">
                              <div class="ui twelve wide column grid text-left">
                                <div class="four wide column text-center">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                        <div class="paragraph">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui twelve wide column grid plane-grid flight_duration">
                                  <div class="three wide column">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="_crafts-border text-center">
                                      <div class="_craft _craft-up">
                                        <img src="./../../../../../../assets/img/blue-up.svg" />
                                      </div>
                                      <span>
                                        <div class="ui placeholder flight-dur-loader">
                                            <div class="line">
                                            </div>
                                        </div>
                                      </span>
                                      <div class="_craft _craft-down">
                                        <img src="./../../../../../../assets/img/blue-down.svg" />
                                      </div>
                                      <hr>
                                    </div>
                                    <p class="flight-type _highlight text-center">
                                      <!-- <span class="aircraft-no">
                                        (Aircraft No)
                                      </span> -->
                                      <span>
                                        <div class="ui placeholder stop-loader">
                                            <div class="line">
                                            </div>
                                        </div>
                                      </span>
                                    </p>
                                  </div>
                                  <div class="three wide column">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="ui four wide column grid icon-block icon-loader-wrap">
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="ui seven wide column priceclass">
                              <div class="priceclass_price price-loader">
                                <div class="ui two wide column grid ">
                                  <div class="ui sixteen wide column grid booking-class">
                                    <div class="sixteen wide column padd-top-0">
                                        <div>
                                            <div class="flight-book-top">
                                                <div class="ui placeholder">
                                                    <div class="image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="ui two wide column grid ">
                                    <div class="ui sixteen wide column grid booking-class">
                                      <div class="sixteen wide column padd-top-0">
                                          <div>
                                              <div class="flight-book-top">
                                                  <div class="ui placeholder">
                                                      <div class="image">
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="sixteen wide column row fare-loader-wrap">
            <div class="eight wide column border-right">
              <div class="ui grid">
                <div class="sixteen wide column row">
                  <div class="three wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="eight wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="three wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="two wide column"></div>
                </div>
              </div>
            </div>
            <div class="four wide column border-right text-center">
                <div class="ui placeholder">
                    <div class="line"></div>
                </div>
            </div>
            <div class="four wide column">
              <div>
                <div>
                  <div class="text-right">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="Suppliers">
    <div>
      <div class="OriginDestinations">
        <div class="dest-block">
          <div class="ui grid m-0">
            <div class="sixteen wide column row flight-dur-wrapper">
              <div class="nine wide column">
                <div class="ui grid">
                  <div class="sixteen wide column row route-loader">
                    <div class="four wide column">
                        <div class="ui placeholder">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="six wide column exp-wrapper">
                      <!-- <h4>Offer Expiration: </h4> -->
                      <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                    </div>
                    <div class="six wide column exp-wrapper">
                      <!-- <h4>Payment Expiration: </h4> -->
                      <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="seven wide column">
                <div class="ui grid">
                  <div class="sixteen wide column row">
                    <div class="two wide column flight-dir">
                      <!-- ECONOMY -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dest-block-content">
            <div class="dest-block-content-row">
              <div>
                <div class="ui fluid container ">
                  <div class="outer-basic animated fadeIn">
                    <div class="outer-basicForm">
                      <form>
                        <div class="ui grid m-0 loader-comp">
                          <div class="sixteen wide column row airline-tickets _oneway p-t-0">
                            <div class="ui nine wide column grid border-grid p-0">
                              <div class="ui twelve wide column grid text-left">
                                <div class="four wide column text-center">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                        <div class="paragraph">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui twelve wide column grid plane-grid flight_duration">
                                  <div class="three wide column">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="_crafts-border text-center">
                                      <div class="_craft _craft-up">
                                        <img src="./../../../../../../assets/img/blue-up.svg" />
                                      </div>
                                      <span>
                                        <div class="ui placeholder flight-dur-loader">
                                            <div class="line">
                                            </div>
                                        </div>
                                      </span>
                                      <div class="_craft _craft-down">
                                        <img src="./../../../../../../assets/img/blue-down.svg" />
                                      </div>
                                      <hr>
                                    </div>
                                    <p class="flight-type _highlight text-center">
                                      <!-- <span class="aircraft-no">
                                        (Aircraft No)
                                      </span> -->
                                      <span>
                                        <div class="ui placeholder stop-loader">
                                            <div class="line">
                                            </div>
                                        </div>
                                      </span>
                                    </p>
                                  </div>
                                  <div class="three wide column">
                                    <div class="ui placeholder">
                                        <div class="image img-load-wrap">
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="ui four wide column grid icon-block icon-loader-wrap">
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                                <div class="ui placeholder icon-loader">
                                    <div class="image">
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="ui seven wide column priceclass">
                              <div class="priceclass_price price-loader">
                                <div class="ui two wide column grid ">
                                  <div class="ui sixteen wide column grid booking-class">
                                    <div class="sixteen wide column padd-top-0">
                                        <div>
                                            <div class="flight-book-top">
                                                <div class="ui placeholder">
                                                    <div class="image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="ui two wide column grid ">
                                    <div class="ui sixteen wide column grid booking-class">
                                      <div class="sixteen wide column padd-top-0">
                                          <div>
                                              <div class="flight-book-top">
                                                  <div class="ui placeholder">
                                                      <div class="image">
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="sixteen wide column row fare-loader-wrap">
            <div class="eight wide column border-right">
              <div class="ui grid">
                <div class="sixteen wide column row">
                  <div class="three wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="eight wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="three wide column">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                  <div class="two wide column"></div>
                </div>
              </div>
            </div>
            <div class="four wide column border-right text-center">
                <div class="ui placeholder">
                    <div class="line"></div>
                </div>
            </div>
            <div class="four wide column">
              <div>
                <div>
                  <div class="text-right">
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>    
<!--skeleton-->